body {
    background-color: rgb(235, 235, 235);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    margin: 0;
    transition: background-color 0.5s ease;
    background-size: cover;
    background-position: center;
}

#weatherForm {
    display: flex;
    gap: 1.2rem;
    margin-bottom: 20px;
}

.search {
    display: flex;
    align-items: center;
    border: 1px solid #8b8b8b;
    box-shadow: 1px 1px #c2c2c2;
    padding: 10px;
    border-radius: 1.2rem;
}

#locationInput {
    outline: none;
    border-color: transparent;
    background-color: #f0f0f0;
}

.location-img {
    width: 30px;
    height: 30px;
}

#weatherDisplay {
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 5px;
    background-color: transparent;
    text-align: center;
    opacity: 0; /* Initially hidden */
    transform: translateY(20px); /* Initially slightly below */
    transition: opacity 0.5s ease, transform 0.5s ease;
}
#weatherDisplay.show { /* Class to trigger animation */
    opacity: 1;
    transform: translateY(0);
}
#weatherDisplay img {
    margin-top: 10px;
    max-width: 100px;
}